@import url('https://fonts.googleapis.com/css?family=Poppins');
*
{
    scroll-behavior: smooth;
}
header { 
    position: fixed;
    top: 0%;
    width: 100%;
    margin-left: 0%;
    margin-top: 1%;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: rgb(17, 17, 17); 
} 
#logo {
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30%;
    min-width: 200px;
    max-width: 350px;
    float: auto;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
        background: url(RFbanner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-color: rgb(0, 0, 0); 
}
section
{
    clear: both;
    height: 100vh;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40em;
}
section.banner 
{
    background: url(RFbanner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
section.banner #profile
{
    height: 80vh;
    min-block-size: 400px;
}
section.banner .content 
{
    text-align: center;
}
section.banner .content h1
{
    font-size: 2em;
    font-size-adjust: inherit;
    color: #fff;
    text-transform: normal;
    margin: 0 0 20px;
    padding: 0;
}
section.banner .content a 
{
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 40px;
    font-size: 1em;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
}
section.banner .content a:hover
{
    background: #111;
    border: 2px solid #111;
    color: #fff;
}
.scroll
{
    position: fixed;
    top: 50%;
    left: 0;
    width: 60px;
    height: 60px;
    display: block;
    background: rgba(0, 0, 0, 0);
    text-align: center;
    line-height: 80px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    z-index: 10000;
}
.scroll.top
{
    color: #111;
    top: calc(50% - 70px);
    background: rgba(255, 255, 0, 0);
    padding: 10px;
}
.scroll.middle
{
    color: rgb(17, 17, 17);
    top: calc(50% - 140px);
    padding: 10px;
}
.scroll.bottom
{
    background: rgba(32, 32, 29, 0);
    padding: 10px;
}
footer{
    margin-left: 20px;
    font-size: 20px;
}
a:link{
    color: white
}